*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  min-height: 100vh;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  height: 100%;
  margin: auto;
  gap: 26px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.result__video-container {
  width: 711px;
  height: 366px;
  margin-bottom: 20px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  display: grid;
  grid-template-rows: auto 1fr;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 10px;
  width: 100%;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
  letter-spacing: 0;
  padding-top: 0;
  font-family: 'Fira Sans Condensed';
}

.title {
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: Oswald;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card-title {
  display: block;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 64.8px;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 5px;
}

.search-form__label {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed';
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  appearance: none;
  outline: none;
  cursor: text;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.search-form__textfield::-webkit-search-cancel-button,
.search-form__textfield::-webkit-search-decoration {
  appearance: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__label:hover .search-form__textfield {
  text-decoration: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  appearance: none;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
  cursor: pointer;
}

.more-button {
  width: 100%;
  height: 34px;
  cursor: pointer;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(27 25 25 / 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.preloader_active {
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
